.cheader {
  height: 30vh;
  padding-top: 2rem;
  overflow: hidden;
  background-image: linear-gradient(150deg, #6E82C7, #FFCEC3);
}

.cheader__container {
  text-align: left;
  height: 100%;
  position: relative;
}

.cheaderText {
  margin-top: 20px;
  margin-right: 10%;
}

.cheaderText h2{
  font-size: 4.2rem;
  opacity: 0.9;
  width: 1000px;
  background: -webkit-linear-gradient(left, #0c1870, #7A588C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
