@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

.cheader {
  height: 13rem;
  padding-top: 2rem;
  overflow: hidden;
  background-image: linear-gradient(150deg, #6E82C7, #FFCEC3);
}

.cheader__container {
  text-align: left;
  height: 100%;
  position: relative;
}

.cheaderText {
  margin-top: 2rem;
  margin-right: 10%;
}

.cheaderText h2{
  font-size: 4.2rem;
  font-family: 'DM Serif Display', serif;
  opacity: 0.9;
  max-width: 100%;
  background: -webkit-linear-gradient(left, #0c1870, #7A588C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
  
  /* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
  @media screen and (max-width: 600px) {
    .cheader {
      /* added after tutorial */
      height: 9rem;
    }
  
    .cheader__socials,
    .scroll__down {
      display: none;
    }

    .cheaderText {
      margin-top: 1rem;
    }

    .cheaderText h2 {
        font-size: 2.8rem;
      }
    
  }

  @media screen and (max-width: 400px) {
    .cheaderText {
      margin-top: 1.8rem;
    }

    .cheaderText h2 {
        font-size: 2rem;
      }
    
  }