@import url('https://fonts.googleapis.com/css2?family=Tangerine&family=Taviraj:wght@400;700&display=swap');

.cheader {
  height: 13rem;
  padding-top: 2rem;
  overflow: hidden;
  background-image: linear-gradient(to right, #929FCF, #E6E8EF);
}

.cheader__container {
  text-align: left;
  height: 100%;
  position: relative;
}

.cheaderText {
  margin-top: 2rem;
  margin-right: 10%;
}

.cheaderText h2{
  font-size: 4.2rem;
  font-family: 'Taviraj', serif;
  opacity: 0.9;
  max-width: 100%;
  background: -webkit-linear-gradient(left, #203ba5, #fcfcfc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: lowercase;
}

.cheaderText .f {
  font-family: 'Tangerine', cursive;
  font-size: 7.8rem;
}

.cheaderText .s {
  font-family: 'Tangerine', cursive;
  font-size: 7.8rem;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
  
  /* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
  @media screen and (max-width: 600px) {
    .cheader {
      /* added after tutorial */
      height: 9rem;
    }
  
    .cheader__socials,
    .scroll__down {
      display: none;
    }

    .cheaderText {
      margin-top: 1rem;
    }

    .cheaderText h2 {
        font-size: 2.8rem;
      }
    
  }

  @media screen and (max-width: 400px) {
    .cheaderText {
      margin-top: 1.8rem;
    }

    .cheaderText h2 {
        font-size: 2rem;
      }
    
  }