.flex-container {
  display: flex;
  text-align: center;
  height: 100%;
  position: relative;
  justify-content: center;
  flex-direction: row;
  padding: 60px;
  gap: 2.2rem;
}

.companyButtons__container h1 {
  text-align: center;
}

/* =============== BUTTONS ============== */
.btn {
  background-color: #E6E8EF;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 40px;
  white-space: nowrap;
}

.btn::before,
.btn::after {
  content: '\00a0\00a0\00a0';  /* Adding non-breaking spaces */
  display: inline;
}

.buttonRegistration {
  align-items: flex-start;
  justify-content: center;
}

.buttonSG {
  align-items: center;
  justify-content: center;
}

.buttonSWESponsor {
  align-items: flex-end;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .flex-container {
      display: none;
  }
}