.meet-the-team__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.meet-the-team__container > * {
  min-height: 400px;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .meet-the-team__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .meet-the-team__container > * {
    min-height: 380px;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .meet-the-team__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .meet-the-team__container > * {
    min-height: 350px;
  }
}
