@font-face {
    font-family: 'DMSerifDisplay';
    src: local('DMSerifDisplay-Regular'),
        url('./DMSerifDisplay-Regular.ttf') format('ttf'),
}

@font-face {
    font-family: 'Inter';
    src: local('Inter-Light'),
        url('./Inter-Light.ttf') format('ttf');
}