@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#registration {
    margin-bottom: 4rem;
}
.company__content p {
    font-family: 'Inter', sans-serif;
    text-align: left;
    color: var(--color-primary);
    font-size: 16px;
}

/* .company__paragraph {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.company__paragraph p {
    font-family: 'Inter', sans-serif;
    justify-content: left;
    text-align: left;
    font-size: 16px;
} */

.company__info {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 14rem 1fr;
    grid-auto-rows: min-content;
    row-gap: 4rem;
}

.company__text {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    margin-bottom: 1.75rem;
    margin-top: 0.5rem;
}

.company__content h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: left;
    margin-bottom: 2%;
    font-size: 24px;
    line-height: 1.85rem;
    margin-top: 0.5rem;
}

.company__content h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-top: 2rem;
    text-transform: uppercase;   
    text-align: left;
    font-size: 24px;
    color: #929292;
}

.company__content img {
    width: 100%;
    height: auto;
    padding-bottom: 5%;
}

.column-demographics {
    float: left;
    width: 100%;
}

.row-demographics::after {
    width: 100%;
    height: 100%;
    content: "";
    clear: both;
    display: table;
}

.indented__paragraph p {
    justify-content: left;
    text-align: left;
    padding-bottom: 1rem;
    font-size: 16px;
}

.pdf_container {
    justify-content: center;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 2rem;
}

.pdf_container p {
    text-align: center;
    padding-right: 2rem;
}

.download-link {
    color: blue;
    text-decoration: underline;
}

.download-link:hover {
    color: rgb(141, 141, 255);
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
    .company__content p {
        margin: 1rem 0 1.5rem;
    }

    .column-demographics {
        width: 80%;
    }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
    .company__content p {
        margin: 1.5rem 0;
    }
    
    .column-demographics {
        width: 100%;
    }
}
