.company__content p {
    text-align: left;
    color: var(--color-primary);
}

.company__paragraph {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.company__paragraph p {
    justify-content: left;
    text-align: left;
    font-size: 16px;
}


.company__info {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}

.company__content h2 {
    text-align: left;
    margin-bottom: 2%;
    font-size: 26px;
}

.company__content h3 {
    margin-top: 2rem;
    text-align: left;
    font-size: 24px;
}

.company__content img {
    width: 100%;
    padding-bottom: 5%;
}

.column-demographics {
    float: left;
    width: 50%;
}

.row-demographics::after {
    content: "";
    clear: both;
    display: table;
}

.indented__paragraph p {
    justify-content: left;
    text-align: left;
    padding-bottom: 1rem;
    font-size: 15px;
}

.pdf_container {
    justify-content: center;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 2rem;
}

.pdf_container p {
    text-align: center;
    padding-right: 2rem;
}

.download-link {
    color: blue;
    text-decoration: underline;
}

.download-link:hover {
    color: rgb(141, 141, 255);
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
    .company__content p {
        margin: 1rem 0 1.5rem;
    }

    .column-demographics {
        width: 80%;
    }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
    .company__content p {
        margin: 1.5rem 0;
    }
    
    .column-demographics {
        width: 100%;
    }
}
