.custom-grid {
  display: grid;
  grid-template-columns: 0.8fr 3.5fr; /* Adjust column widths as needed */
  gap: 20px; /* Optional: Adds space between columns */
  margin-bottom: 2rem; 
}

.custom-grid h2{
  /* margin-top: -3.3rem; */
  font-weight: 700;
  text-align: left;
}


.about__paragraph p{
  justify-content: left;
  text-align: left;
  /* margin-top: -3rem;
  margin-bottom: 3rem; */
  padding-bottom: 2rem;
}

.image_container {
  padding-left: 7rem;
  padding-right: 7rem;
  display: flex;
  flex-direction: column; /* Stacks the rows vertically */
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}

.image_container-row {
  display: flex;
  justify-content: left;
  width: 100%; /* Ensures each row takes up the full width of the container */
  padding-bottom: 2rem;
  gap: 3rem;
}


/* First row specific styles */
.image_container-row:first-child {
  justify-content: left;
 }

 /* Second row specific styles */
 .image_container-row:last-child {
  display: flex;
  align-items: flex-end;
  justify-content: space-between; /* Match the alignment of the top row */
  gap: 2rem; /* Maintain spacing between images */
  width: 100%; /* Ensure the row takes the full width of its parent container */
  margin: 0 auto; /* Center the entire row */
 }


 .image_container-column-image img {
  max-width: 100%; /* Ensures the image does not stretch outside its container */
  height: auto;
  display: flex;
  align-items: left;
}

.image_container-column-caption {
  font-size: 1.15rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-weight: 400;
}

.image_container-column-caption-right {
  font-size: 1.15rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-weight: 400;
  text-align: right;
}

.image_container-text p {
  text-align: left;
  padding-bottom: 2rem;
  color: var(--color-primary);
  box-sizing: border-box; 
  max-width: 701px;
}


/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .custom-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .about__paragraph{
    margin-top: -5%;
  }

  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }

  .about__content h2{
    margin-bottom: 1.5rem;
  }
}


/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 0.5rem 0;
  }

  .about__content h2{
    margin-top: 2rem;
    text-align: left;
    margin-bottom: 1.5rem;
    /* font-size: 2rem; */
  }

  .image_container{
    padding: 0rem 5.5% 0rem 5.5%;
    justify-content: center;
  }

  .image_container-row{
    display: block;
  }

  .image_container-column {
    float: left;
    width: 100%;
    display: block;
  }

  .image_container-column-image{
    padding-bottom: 2rem;
    width: 100%
  }
  
  .image_container-column-caption{
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }


  .image_container-row:last-child {
    display: block;
  }

  .image_container-column-caption-right {
    text-align: center;
    margin-bottom: -20%;
  }

}
  