.companies-page {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(178.796deg, rgb(157, 167, 122) 0%, rgb(206, 211, 188) 30%, rgb(255, 255, 255) 50%, rgb(255, 225, 237) 75%, rgb(236, 186, 208) 100%);
  padding-bottom: 0;
}

