@import url('https://fonts.googleapis.com/css2?family=Tangerine&family=Taviraj:wght@400;700&display=swap');

header {
  padding-top: 4rem;
  overflow: hidden;
  /* background-image: linear-gradient(to right, #929FCF, #E6E8EF); */
  background-image: radial-gradient(circle at 40px 40px,#929FCF, #E6E8EF);
}

.header__container {
  text-align: left;
  height: 100%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  position: static; 
}

.headerText {
  max-width: 100%;
}

.headerText h1 {
  font-size: 6rem;
  font-family: 'Taviraj', serif;
  background: -webkit-linear-gradient(left, #2641a0, #667bd0); /* Matching colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 75%;
  margin-bottom: 1rem;
  font-weight: 500;
  scroll-behavior: smooth;
  text-shadow: 3px 2px 3px rgba(73, 73, 83, 0.2); 
}

.headerText .e {
  font-family: 'Tangerine', cursive;
  font-size: 1.8em; /* Slightly larger to match the aesthetics */
}

.headerText .with {
  font-size: 0.7em; /* Slightly larger to match the aesthetics */
}

.headerText .industry{
  line-height: 1;
  display: block; 
  margin-top: -0.55em;
}

.headerText .industry .y {
  font-family: 'Tangerine', cursive;
  font-size: 1.8em; /* Slightly larger to match the aesthetics */
}

.event__date {
  font-size: 1.6rem;
  font-family: 'Inter', serif;
  background: -webkit-linear-gradient(left, #2641a0, #95a2d8); /* Matching colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 3.2rem;
  margin-bottom: 1.7rem;
  font-weight: 700;
}

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

.contact-button {
  aspect-ratio:1;
  margin-top:5em;
  width:10em;
  height:50%;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.contact-button-contents {
  margin-top:1em;
  display:flex;
  flex-direction:column;
  align-items:end;
  font-size:calc(1em + 0.5vw);
}

.contact-button-contents img {
  width:25%;
}

@media screen and (max-width: 600px) {
  header {
    padding-top: 4rem;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }

  .headerText h1 {
    font-size: 4rem;
  }
}
