@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap');

.hero {
  width: 100%;
  padding-bottom: 106.4%; /* 1213/1140 aspect ratio */
  background-image: url("../../assets/new_hero_background.svg");
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 900px;
}

.hero-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 800px;
}

.hero-buttons {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5.0rem;
}

.hero-buttons button {
  padding: 1.2rem 1.8rem;
  border-radius: 8px;
  border: none;
  background: #8D485F;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.hero-buttons button:hover {
  transform: scale(1.05);
}