.events-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.event-card {
  display: flex;
  gap: 20px;
}

.event-card-number {
  color: var(--color-dark-pink);
  text-align: center;
  font-family: Katibeh;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.1;
  margin-top: 3rem;
}
.event-card-rsvp {
  background-color: white;
  color: var(--color-dark-green);
  border: 1px solid var(--color-dark-green);
  border-radius: 0.5em;
  padding: 0.2rem 0.4rem;
}
.event-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.event-card-dateTime {
  color: var(--color-dark-pink);
  font-style: italic;
  margin-bottom: 0.2rem;
}
.event-card-description {
}

.events-section {
  color: var(--color-dark-pink);
  padding: 0 1rem;
  max-width: 100%;
  margin-top: 4rem;
}

.section-title {
  font-family: 'Katibeh', serif;
  font-size: 130px;
  line-height: 0.74;
  color: #8d485f;
  background: transparent;
  text-shadow: 2px 2px 4px #ecbad0;
  letter-spacing: -1.3px;
  text-align: center;
  margin: 0 auto 2rem;
  max-width: 1072px;
  height: 96.21px;
  text-transform: none;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .section-title {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  .section-title {
    font-size: 60px;
    margin-bottom: 3rem;
  }
}

.event-card-left {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
}
