@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.coming_soon{
    height: 20rem;
    padding-top: 5rem;
}

.student__content p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: left;
    color: var(--color-primary);
}

.student__paragraph p {
    justify-content: left;
    text-align: left;
    font-size: 16px;
}

.student__content h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 2%;
    font-size: 26px;
}

.student__content h3 {
    margin-top: 2rem;
    text-align: left;
    margin-bottom: 4rem;
    font-size: 24px;
}

.student__content img {
    max-width: 100%;
    height: auto
}

.row {
    display: flex;
    margin-top: -30px;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.pdf_container {
    justify-content: center;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 2rem;
}

.pdf_container p {
    text-align: center;
    padding-right: 2rem;
}

.rsvp_link a {
    text-decoration: underline;
    color: blue;
}

li {
    font-family: 'Inter', sans-serif;
    display: list-item;
    list-style-type: circle;
    background: var(--color-bg);
    color: var(--color-white);
}

ul {
    padding-left: 20px;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 25rem !important;
    height: 100% !important;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
    .company__content p {
        margin: 1rem 0 1.5rem;
    }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
    .company__content p {
        margin: 1.5rem 0;
    }

    .react-pdf__Page__canvas {
        margin: 0 auto;
        width: 20rem !important;
        height: 100% !important;
    }
}