@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.coming_soon{
    height: 20rem;
    padding-top: 5rem;
}

.student__info {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 14rem 1fr;
    grid-auto-rows: min-content;
    gap: 4rem;
}

.student__content p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: left;
    color: var(--color-primary);
    margin-top: 3rem;
}

.student__paragraph p {
    justify-content: left;
    text-align: left;
    font-size: 16px;
}

.student__content h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 2%;
    font-size: 26px;
}

.student__content h3 {
    margin-top: 2rem;
    text-align: left;
    margin-bottom: 4rem;
    font-size: 24px;
}

.student__content img {
    max-width: 100%;
    height: auto
}

.row {
    display: flex;
    margin-top: -30px;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.pdf_container {
    justify-content: center;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 2rem;
}

.pdf_container p {
    text-align: center;
    padding-right: 2rem;
}

.rsvp_link a {
    text-decoration: underline;
    color: blue;
}
.student__paragraph li {
    font-family: 'Inter', sans-serif;
    display: list-item;
    list-style-type: disc; /* Removes default bullets */
    position: relative; /* Needed for custom bullet placement */
    padding-left: 0.5em; /* Adjusts spacing for custom bullets */
    padding-bottom: 0.7rem;
    color: var(--color-black); /* Text color */
}

.student__content li {
    font-family: 'Inter', sans-serif;
    display: list-item;
    list-style-type: disc; /* Removes default bullets */
    position: relative; /* Needed for custom bullet placement */
    padding-left: 0.5em; /* Adjusts spacing for custom bullets */
    padding-bottom: 0.25rem;
    color: var(--color-black); /* Text color */
}


.student__content ul {
    padding-left: 1rem;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 25rem !important;
    height: 100% !important;
}
 
.student__content a {
    color: var(--color-black);
}


/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
    .company__content p {
        margin: 1rem 0 1.5rem;
    }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
    .company__content p {
        margin: 1.5rem 0;
    }

    .react-pdf__Page__canvas {
        margin: 0 auto;
        width: 20rem !important;
        height: 100% !important;
    }
}