@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

footer {
  background: none;
  position: relative;

  display: flex;
  justify-content: center;
  min-height: 300px;
}

.footer-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.footer-content {
  position: absolute;
  bottom: -7.5rem;
  left: 50%;
  transform: translateX(-50%); /* center horizontally */

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  max-width: 1200px;
  z-index: 1;
  font-size: 2.2rem;
  background-color: none;
}

footer p {
  color: #FFE1ED;
  background-color: transparent;
  font-family: 'Katibeh', cursive;
  font-weight: 400;
  text-shadow: 1px 1px 2px #ecbad06a;
  font-size: 2.4rem;
  margin: 0;
  padding: 0;
}

.footer-socials {
  display: flex;
  justify-content: space-between;
  background-color: none;
}

footer a {
  text-decoration: none;
}

.footer-socials a {
  color: #FFE1ED;
  border: none;
  padding: 0.8rem;
  display: flex;
}

.footer-socials a:hover {
  background: transparent;
  color: #8D485F;
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-socials {
    gap: 1rem;
    margin-top: 1rem;
  }

  footer p {
    font-size: 1rem;
    text-align: center;
  }
}
