.attend__container {
  text-align: center;
  height: 100%;
  width: 60%;
  position: relative;
  justify-content: center;
  font-size: 1.5rem;
  /* background: whitesmoke; */
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  padding: 2rem;
  margin: -4rem auto;
}

.attend_h2{
  font-weight: 700;
  color: black;
  text-transform: capitalize;
  font-size: 2.2rem;
  text-align: center;
  padding: 0em;
  margin: 0em;
}

.date {
  padding-top: 1em;
  background-color: transparent;
  font-size: 0.75em;
}

/* =============== CTA ============== */
.cta1 {
  margin-top: 1.5rem;
  display: flex;
  margin-right: 9rem;
  gap: 1.2rem;
  justify-content: center;
}

.cta2 {
  margin-top: -3.31rem;
  margin-left: 10rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* =============== HEADER SOCIALS ============== */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.7rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* =============== ME ============== */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 30rem;
  height: 25rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  transition: var(--transition);
  padding: 2rem 1.5rem 1.5rem 1.5rem;
}


.me:hover {
  width: 32rem;
}

/* =============== SCROLL DOWN ============== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .attend__container {
    width: 90%;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  header {
    /* added after tutorial */
    padding-top: 4rem;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
  

  .attend__container {
    width: 80%;
  }

  /* added after tutorial */
  .cta1 {
    margin-top: 1.5rem;
    display: flex;
    margin-right: 9rem;
    gap: 0.5rem;
    justify-content: center;
  }
  
  .cta2 {
    margin-top: -3.37rem;
    margin-left: 9rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }
}